* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}
.top-bar {
    background:#333;

}
.menu {
    background:#333;
}

span {  
    color: black;
}
main {
    margin-left: 25px;
    width: 100%;
}

.card {
    border: royalblue solid;
    width: fit-content;
    justify-content: end;
    align-self: center;
}

body{
    background-color:skyblue;
    display: flex;
    flex-direction:column;
}

h1 {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    border: solid;
    border-width: thick;
    border-radius: 8px;
    font-size: 48px;
    margin-left: 800px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT93sfjcecSpZxp86DueLHQajh0XXhdC05cuQ&usqp=CAU);
    text-shadow: 2px 2px 5px pink;
    width: fit-content;
}

.crunchyroll {
    justify-content: end;
    align-self: flex-end;
}

#Anime-Recommendations {
    background-color: aquamarine;
   
}

.searchBar {
    width: 213px;
}

aside {
    border: solid #333;
    height: fit-content;
    width: 20%;
    float: left;
    margin-right:25px;
}
aside img {
    background-color: crimson;
 top: 100;
 left: 100;
}
.column{
    float: left;
    width: 20%;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 100%;
    justify-content: space-around;
}
.searchBtn {
    height: 39px;
}

iframe {
    border: #333 solid;
    margin: 5px;
    justify-content: start;
    align-self: flex-end;
}

nav ul li {
    margin-left: 150px;
    margin-right: 20px;
    border-bottom: 3px solid white;
    font-size: 35px;
}

div a {
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

.footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}

.footer h2 {
    font-size: 20px;
}
